@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

body {
  background-color: #6988fc;
  color: white;
  font-family: 'Lato', sans-serif;
  max-width: -webkit-calc(1000px - (30px * 2));
  margin: auto;
  font-weight: 300;
  padding: 5px;
}

.menu-links {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;

}

.menu-links a {
    margin-left: 10px;
}

.menu-links a:link,
.menu-links a:visited,
.menu-links a:hover,
.menu-links a:active {
  color: white;
  text-decoration: none;
}

h1 {
  margin-top: 50px;
  font-size: 3.75em;
  
}

h2 {
  font-size: 2em;
}

h1, h2 {
  font-weight: 300;
}

h3 {
  font-size: 2rem;
  text-align: center;
}

/* .text-container {
  max-width: 720px;
  margin: 0 auto;
} */

.centered-text {
  text-align: center;
}

button {
  display: block;
  margin: 0 auto;
  background-color: #db5e1a;
  /*border: 0px solid #b30000;*/
  border-style: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: 100;
}

button a:link,
button a:visited,
button a:hover,
button a:active {
  color: white;
  text-decoration: none;


}

img {
  max-width: 400px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

video {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}

p {
  font-size: 20px;
}