.cards {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 0 5px;
}

@media only screen and (min-width: 1024px) {
    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card {
        width: 48vw;
    }
}

@media only screen and (min-width: 1920px) {
    .card {
        width: 500px;
    }
}