#header {
  width: 100%;
  min-height: 55.95px;
  box-shadow: 0 5px 7px -5px rgba(0, 0, 0, 0.2);
  display: flex;
}

#header .wrapper {
  flex-direction: row;
}

.wrapper {
  max-width: -webkit-calc(1000px - (30px * 2));
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0 15px;
}

#title {
  font-size: 2rem;
}

#header .navbarlinks {
  display: none;
}

.navbarlinksDrawer {
  padding: 0 30px;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navbarlinksDrawer a {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.navbarlinksDrawer a span {
  margin-left: 10px;
}



.pageTitle {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 15px;
}

.post {
  margin: 10px;
  width: 100%;
}

.postTitle {
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.subheader {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.date {
  text-align: end;
}

.category {
  background-color: #ddd;
  padding: 2px 4px;
  border-radius: 5px;
}

@media (min-width: 768px) {
  #header .navbarlinks {
    display: flex;
  }
  
  #header .navbarlinks a {
    padding-left: 15px;
  }

  #header .drawerIcon {
    display: none;
  }
}
