@import url('https://fonts.googleapis.com/css?family=Lato:100,300&display=swap');

html, body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    max-width: 100vw;
    text-rendering: optimizeLegibility; /* Makes fonts render in a perfect way */
    overflow-x: hidden;
}

.wrapper {
    max-width: calc(1200px - (30px * 2));
    max-width: -webkit-calc(1000px - (30px * 2));
}

.site-header {
    background-color: white;
    box-shadow: 5px 0px 10px;
}

a, a:visited {
    color: black;
}

.wrapper a:hover {
    text-decoration: none;
    color: red;
}

.post-list-heading {
    font-size: 48px;
}

.post-list-heading {
    text-align: center;
}

.post {
    /* height: 175px; */
    margin: 10px;
}

.title {
    font-size: 36px;
    font-weight: bold;
}

.header {
    font-size: 24px;
}

.date {
    text-align: right;
}

.svg-icon {
    fill: red;
}