/* -------------------------------------------------- */
/* 13 inch laptops: from 1025x to 1023px */
/* -------------------------------------------------- */
@media only screen and (max-width: 1280px) {
    h1 {
        font-size: 4rem;
    }

    .centerpiece {
        top: 56%;
    }

    .centerpiece .subheader {
        font-size: 1.8rem;
    }

    .sidebar-nav {    
        top: 55%;
    }

    h2 {
        font-size: 3rem;
    }

    .image-text h3 {
        font-size: 1.4rem;
    }

    .sidebar-nav li a {
        font-size: 1.25rem;
    }

}

/* -------------------------------------------------- */
/* Landscape tablets: from 769px to 1024px */
/* -------------------------------------------------- */

@media only screen and (max-width: 1024px) {
    html {
        font-size: 100%;
    }

    .sidebar-nav {
        display: none;
    }

    .dropdown-menu {
        display: inline;
    }

    .header-nav li:first-of-type {
        display: inline-block;
    }

    section {
        padding: 25px 0;
    }

    .about-me-content {
        flex-direction: column;
    }

    .about-me-img-container img {
        width: 50%;
    }

    #skills .row {
        width: 20vw;
        
    }

    .experience {
        flex-direction: column;
    }

    .portfolio-project {
        flex-direction: column;
    }

    .portfolio-project:not(:first-of-type) {
        margin-top: 75px;
    }

    #shotplotter,
    #blender,
    #analyzer {
        flex-direction: column-reverse;
    }
}

/* -------------------------------------------------- */
/* Portrait tablets: from 480px to 768px */
/* -------------------------------------------------- */
@media only screen and (max-width: 768px) {

    header {
        background-image: none;
    }

    .row {
        width: 95vw;
    }

    section {
        padding: 25px 0;
    }

    .centerpiece img {
        width: 60vw;
    }

    #skills .row {
        width: 30vw;
    }

    p {
        padding: 0;
    }

    .image-text h4 {
        padding: 10px 0 0 0;
    }

    #portfolio .image-text p:last-of-type {
        padding: 0px 0 0 0;
    }

    

    .image-text h3 {
        padding-left: 0;
    }
}

@media only screen and (max-width: 660px) {
    nav {
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .header-name {
        display: none;
    }
}

/* -------------------------------------------------- */
/* Phones: from 0 to 480px */
/* -------------------------------------------------- */
@media only screen and (max-width: 480px) {
    h1 {
        font-size: 4rem;
    }

    .header-nav li a:hover span, 
    .header-nav li a:active span {
        font-size: 1rem;
    }

    h2 {
        font-size: 3.5rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    #skills .row {
        width: 40vw;
    }

    .header-nav li,
    .dropdown-menu {
        width: 60px;
    }
}

/* -------------------------------------------------- */
/* Small phones */
/* -------------------------------------------------- */
@media (max-width: 400px) {
    html {
        font-size: 13px;
    }
}


/* -------------------------------------------------- */
/* Large phones landscape */
/* -------------------------------------------------- */
@media (orientation: landscape) and (max-width: 1024px) {
    html {
        font-size: 81.25%;
    }

    .centerpiece {
        width: 95%;
        flex-direction: row;
        justify-content: center;
        margin: 25px 0 auto 0;
    }

    .centerpiece img {
        top: 120px;
        height: 60vh;
        width: auto;
        margin-right: 10px;
    }

    .sidebar-nav {
        display: none;
    }

    .row {
        width: 95vw;
    }

    .experience-image-container img {
        width: 25%;
    }

    .portfolio-project-image-container img {
        max-height: 200px;
    }
}

/* -------------------------------------------------- */
/* Small phones landscape */
/* -------------------------------------------------- */
@media (orientation: landscape) and (max-width: 700px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3.5rem;
    }

    .image-text h3 {
        font-size: 1.4rem;
    }
}

/* -------------------------------------------------- */
/* Firefox unique scroll bar */
/* -------------------------------------------------- */

@-moz-document url-prefix() {
    * {
        scrollbar-width: thin;
        scrollbar-color: #FF2400 rgba(255, 255, 255, 0);
    }
}