/* -------------------------------------------------- */
/* GENERAL SETUP (Official accent color: #FF3636, #b30000) */
/* -------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Lato:100,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    background-color: #151515;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: calc(14px + (24 - 14) * ((100vw - 480px) / (1920 - 480)));;;
    max-width: 100vw;
    text-rendering: optimizeLegibility; /* Makes fonts render in a perfect way */
    overflow-x: hidden;
}


/* -------------------------------------------------- */
/* SCROLLBAR */
/* -------------------------------------------------- */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #FF2400;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

/* -------------------------------------------------- */
/* REUSEABLE COMPONENTS */
/* -------------------------------------------------- */

.row {
    max-width: 1400px;
    width: 75vw;
    margin: 0 auto;

}

/*section:first-of-type {*/
/*    margin: 0;*/
/*}*/

section {
    margin: 80px 0 100px 0;
}

/**/

p {
    padding: 20px;
    font-size: 80%;
    align-self: center;
}

/* -------------------------------------------------- */
/* HEADERS */
/* -------------------------------------------------- */
h1 {
    font-size: 400%;
    font-weight: 100;
}

h2 {
    font-size: 300%;
    font-weight: 300;
    position: relative;
    text-align: center;
    margin-bottom: 15px;
}

h2 span {
    border-bottom: 1.5px solid #FF3636;
    display: inline-block;
    line-height: 0.95;
}


/* -------------------------------------------------- */
/* CENTERPIECE */
/* -------------------------------------------------- */

header {
    background-image: linear-gradient(rgba(33, 37, 41, 0.7), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(CoverPhoto2.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.background-small-screen {
    display: none;
}

.centerpiece {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    height: 70vh;
}

.centerpiece img {
    height: auto;
    width: 25vw;
    border-radius: 50%;
}

.centerpiece-text {
    display: flex;
    flex-direction: column;
}

.centerpiece .subheader {
    font-size: 130%;
    word-spacing: 3px;
}

/* Buttons */
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #FF3636;
    border: 1px solid #FF3636;
    color: #fff;
    margin-right: 12px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #FF3636;
    color: #FF3636;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #b30000;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active {
    border: 1px solid #b30000;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #b30000;
    color: #fff;
}

/* -------------------------------------------------- */
/* HEADER NAVIGATION */
/* -------------------------------------------------- */

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 120px;
    box-sizing: border-box;
    background-image: linear-gradient(#111, #111, #111, rgba(51, 51, 51, 0));
    display: flex;
    justify-content: space-between;
    z-index: 2;
    padding: 0 20px;
    overflow: visible;
    transition: top 0.3s;
}

.header-name {
    display: inline-block;
    font-size: 150%;
    font-weight: 100;
    margin: 15px 0;
}

.header-name a {
    text-decoration: none;
    color: white;
}

.header-nav {
    float: right;
    padding: 10px 10px;
    display: flex;
    flex-direction: row-reverse;
    width: 450px;
}

.header-nav li:first-of-type {
    display: none;
}

.header-nav li:first-of-type a::before {
    color: #555555;
}

.header-nav li {
    list-style: none;
    text-align: center;
    width: 80px;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header-nav li a:before {
    margin-left: 0;
    font-size: 40px;
}

.header-nav li a:hover:before,
.header-nav li a:active:before {
    font-size: 60px;
    color: #cb2828;
    transition: font-size 0.2s;
}

.header-nav li a:link,
.header-nav li a:visited {
    text-decoration: none;
    padding-left: 0;
    color: #FF2400;
    width: 150px;
    transition: color 0.2s;
}

.header-nav li a:hover,
.header-nav li a:active {
    color: #b30000;
}

/* For the words under the icons */
.header-nav li a:link span,
.header-nav li a:visited span {
    color: rgba(255, 255, 255, 0);
    transition: color 0.2s;
}

.header-nav li a:hover span,
.header-nav li a:active span {
    font-size: 80%;
    color: rgba(255, 255, 255, 1);
    text-shadow: 2px 2px 5px #000;
}


/* Sidebar */

.sidebar-nav {
    width: auto; /* Set the width of the sidebar */
    z-index: 1; /* Stay on top */
    position: fixed;
    top: 100px;
    left: 15px;
    max-height: 100%;
    background-image: linear-gradient(#FF3636, #9B1500);
    padding: 40px 5px 50px;
    border-radius: 15px;

    transform: translate(0, 25%);
}

.sidebar-nav li {
    margin-bottom: 50px;
    text-align: center;
    list-style: none;
}

.sidebar-nav li a {
    color: #fff;
    text-decoration: none;


}

.sidebar-nav li:last-child {
    margin-bottom: 0;

}

/* -------------------------------------------------- */
/* ABOUT ME SECTION */
/* -------------------------------------------------- */

.about-me-section {
    background-size: cover;
    background-position: center;
}

.about-me-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about-me-img-container {
    display: flex;
    flex: 0 0 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.about-me-img-container img {
    display: inline-block;
    width: 80%;
    padding: 5px;
}

.about-me-text {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-me-text h3 {
    text-align: center;
    font-size: 150%;
    margin-top: 10px;
}

.about-me-text p {

}

/* -------------------------------------------------- */
/* SKILLS SECTION */
/* -------------------------------------------------- */
.skills {
    max-width: 800px;
}
.skills-content {
    display: flex;
    flex-direction: column;
    font-size: 180%;
}

.skills-content ul {
    list-style: none;
}

.skills-container {
    margin-bottom: 20px;
}

.skills-content ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.ion-md-star,
.ion-md-star-outline {
    color: red;
}


/* -------------------------------------------------- */
/* EXPERIENCES SECTION */
/* -------------------------------------------------- */

.experiences {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.experience {
    display: flex;
    height: auto;
}

.experience-image-container {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.experience-image-container img {
    display: block;
    width: 100%;
    transform: scale(1);

}

#leidos {
    transform: rotate(90deg);
}

.experience p {
    align-self: center;
}

/* -------------------------------------------------- */
/* PORTFOLIO SECTION */
/* -------------------------------------------------- */
.portfolio__header {
    display: flex;
    flex-direction: column;
}

.portfolio__header .subheader {
    text-align: center;
    font-size: 150%;
}

.portfolio__projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.portfolio-project {
    display: flex;
    height: auto;
    width: 100%;
    margin-top: 20px;
}

.portfolio-project-image-container {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
    overflow: hidden;
    max-height: 330px;
    width: 90vw;
}

.portfolio-project-image-container img {
    display: block;
    width: auto;
    transform: scale(1);
    transition: transform 0.5s, opacity 0.2s, filter 0.2s;
}

.portfolio-project-image-container img:hover {
    transform: scale(1.05);
    filter: grayscale(100%);
    opacity: 0.2;
}

.portfolio-project p {
    align-self: center;
    word-wrap: break-word;
}

/* -------------------------------------------------- */
/* FOOTER */
/* -------------------------------------------------- */
.footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between
}

