/* -------------------------------------------------- */
/* GENERAL SETUP (Official color: #FF3636) */ 
/* -------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #2C2C2C;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility; /* Makes fonts render in a perfect way */
}

/* -------------------------------------------------- */
/* REUSEABLE COMPONENTS */
/* -------------------------------------------------- */

.row {
    max-width: 90vw;
    margin: 0 auto;

}

section { padding: 80px 0; }
/* -------------------------------------------------- */
/* HEADERS */
/* -------------------------------------------------- */
h1 {
    font-size: 400%;
    font-weight: 100;
}

h2 {
    font-size: 300%;
    font-weight: 300;
    position: relative;
}



h2 span {    
    border-bottom: 1.5px solid #FF3636; 
    display: inline-block;
    line-height: 0.95;
}


/* -------------------------------------------------- */
/* CENTERPIECE */
/* -------------------------------------------------- */

header {
    background-image: linear-gradient(rgba(33, 37, 41, 0.7), rgba(0, 0, 0, 0.7)), url(CoverPhoto2.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.main-pic {
    height: 350px;
    width: auto;
    border-radius: 50%;
}

.centerpiece {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centerpiece p {
    font-size: 200%;
    letter-spacing: 1px;
    word-spacing: 5px;
}




/* -------------------------------------------------- */
/* HEADER NAVIGATION */
/* -------------------------------------------------- */

nav {
    padding-top: 20px;

}

.header-name {
    display: inline-block;
    float: left;
    font-size: 178%;
    font-weight: 100;
}

.header-nav {
    display: inline-block;
    float: right;
    padding: 10px 10px;
    list-style: none;
}
.header-nav li {
    float: right;
}

.header-nav li a:before {
    margin-left: 0;
    font-size: 40px;
}

.header-nav li a:link,
.header-nav li a:visited {
    text-decoration: none;
    margin-left: 50px;
    color: #fff;
    width: 150px;
    transition: color 0.2s;
}

.header-nav li a:hover,
.header-nav li a:active { 
    color: #cb2828;
}




/* -------------------------------------------------- */
/* SIDEBAR NAVIGATION */
/* -------------------------------------------------- */
/* The sidebar menu */
.sidebar {
    margin-top: 150px;
    /* Full-height: remove this if you want "auto" height calc(100vh - 150px)*/
    width: 180px; /* Set the width of the sidebar */
    /*position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 300px; /* Stay at the top */
    left: 0;
    background-image: linear-gradient(#FF3636, rgb(208, 40, 40));
    /*overflow-x: hidden; /* Disable horizontal scroll */
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 40px 0 50px 0;

}

.sidebar li {
    margin-bottom: 50px;
    text-align: center;
}

.sidebar li a {
    color: #fff;
    text-decoration: none;

}

.sidebar li:last-child {
    margin-bottom: 0;

}




.about-me-section {
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}











