@import url('https://fonts.googleapis.com/css?family=Lato:100,300&display=swap');
.blog-container {
    font-family: 'Lato', sans-serif;
    background: white;
    width: auto;
    max-width: 800px;
    margin: 0 auto;
    
}

.blog-header {
    margin-bottom: 30px;
}

h2, h3 {
    text-align: center;
}

post-list-heading {
    font-size: 2.5rem;
    margin: 0;
    padding: 20px 0 0 0;
    text-align: center;
}
.blog-header img {
    display: block;
    width: 95%;
    max-width: 600px;
    margin: 0 auto;
    /*padding: 10px;*/
}

.blog-header p {
    text-align: center;
}

.reading-level {
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.5rem;
}

.reading-level-selected {
    color: #e62b1e;
    cursor: pointer;
    
    background: 
        linear-gradient(currentColor 0 0)
        100% 100% / 100% 2px
        no-repeat;
}

.text {
    padding: 0 10px;
}

.content p {
    font-size: 18px;
}

em {
    display: flex;
    justify-content: center;
}

img {
    display: flex;
    margin: auto;
    max-height: 200px;
}

.reading-level {
    padding-bottom: 30px;
}

/*https://dev.to/afif/100-underline-overlay-animation-the-ultimate-css-collection-4p40*/
.reading-level-unselected {
    cursor: pointer;
    background: 
        linear-gradient(currentColor 0 0) 
        var(--p, 0) 100% / var(--d, 0) 2px 
        no-repeat;
    transition: 0.3s, background-position 0s 0.3s;
}

.reading-level-unselected:hover {
    --d: 100%;
    --p: 100%;
}