/* Styling for both main page and blog */
:root {
  --red: #e62b1e;
  --dark-red: #b30000;
  --background-color-2: #111;
  --gray: rgb(40, 40, 40);
  --light-gray: #828282;
  --red-filter: brightness(0) saturate(100%) invert(11%) sepia(91%)
    saturate(5515%) hue-rotate(358deg) brightness(113%) contrast(115%);

  --color-canvas-default: #ffffff;
  --color-canvas-subtle: #f6f8fa;
  --color-border-default: #d0d7de;
  --color-border-muted: hsla(210, 18%, 87%, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

hr {
  margin: 30px 0;
}

code {
  margin-bottom: 15px;
  padding: 15px;
  overflow-x: auto;
}

pre:has(> code) {
  border-radius: 15px;
}

p span.katex {
  font-size: 1em; /* Adjust the size as needed */
}

@keyframes flash {
  0% {
    background-color: #f0f0f0;
  }
  50% {
    background-color: #e0e0e0;
  }
  100% {
    background-color: #f0f0f0;
  }
}