.navbarlinks {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-size: 1.25rem;
}

.navbarlinks span {
    margin-left: 10px;
    cursor: pointer;
}

.navbarLogo,
.navbarlinks span {
    transition: all 0.2s;
}

.navbarLogo:hover,
.navbarlinks span:hover {
    color: var(--red);
}

.sidebarContent {
    height: 100%;
    width: 180px;
    background-color: var(--red);
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
}

.sidebarContent span {
    margin-left: 10px;
}

#navbarIcon { 
    filter: var(--red-filter);
    cursor: pointer;
    background-image: url("/resources/icons/hamburger.svg");
    width: 35px;
    aspect-ratio: 1;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
}

.sidebarContent div {
    padding: 10px;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebarContent div:hover,
.sidebarContent div:active {
    background: white;
    cursor: pointer;
    color: var(--red);

}

@media (min-width: 768px) {
    .navbarLogo {
        display: inline !important;
    }

    .navbarlinks {
        display: flex;
    }

    #navbarIcon {
        display: none;
    }
}